{% extends "base/base.html"%}

{%  block start %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
      <div> <a href="#"><img src="/media/{{FeaturedImage.Product_Image}}"></a></div>
    </div> <!-- slider-product.// -->
    <div class="thumbs-wrap">
      {% for image in images %}
      <a href="#" class="item-thumb"> <img src="/media/{{image.Product_Image}}"></a>
      {% endfor %}

    </div> <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{product.Product_Name}}</h2>
    <h4 class="title">Price: {{product.Product_Price}}PKR</h4>

    <div class="rating-wrap my-3">
        <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
            <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
        </ul>
        <small class="label-rating text-muted">132 reviews</small>
        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
    </div> <!-- rating-wrap.// -->

    <p>{{product.Product_Description}}</p>
    
    
    <dl class="row">
      <dt class="col-sm-3">Brand</dt>
      <dd class="col-sm-9">{{product.Product_Brand}}</dd>
    
      <dt class="col-sm-3">Stock</dt>
      <dd class="col-sm-9">{{product.Product_Stock}}</dd>

    </dl>
    
    <hr>
        <div class="form-row">
            <div class="form-group col-md flex-grow-0">
                <label>Quantity</label>
                <div class="input-group mb-3 input-spinner">
                  <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                  </div>
                  <input type="text" class="form-control" value="1">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="button-minus"> − </button>
                  </div>
                </div>
            </div> <!-- col.// -->

            <!-- col.// -->
        </div> <!-- row.// -->
    
        <a href="#" class="btn  btn-primary"> Buy now </a>
        <a href="{% url 'add_to_cart' product.id %}" class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    

    </div>
    </section>

    <script>
    function update_price(size){
        //console.log(size);
        window.location.href = `${window.location.pathname}?size=${size}`;
    }
    </script>


{% endblock %}